table.manage-table{
    table-layout:fixed;
}
table td{
	height:  50px;
}
table, td,tr,th{
	line-height: 10px;
}

input.inputdata{
	width:100%;
}

div.editable {
    background-color: #fff;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray;
    padding: 2px 3px;
	min-height: 100px;
    width: auto 100%;    
}
.list-group > .list-group-item > .title {
	font-size: 18px;
}
.list-group > .list-group-item > .subtitle {
	font-size: 15px;
}

h1.content-title,h2.content-title,h3.content-title,h4.content-title{
	color:#00a6ac;
}

.panel-heading{
	background-color: #eee;
	
}

.thumbnail{
	position: relative;
}
.img-thumbnail{
	max-height:130px;
}

.picture-title{
	width:100%;
	min-height:60px;
	word-break:break-all;
}
.picture-modify-button{
	position: absolute;
	bottom:10px;
	right:10px;
}

div.lab-member tbody td.picture div{
	width:100%;
}
div.lab-member tbody td.picture2 div{
	width:100%;
}
div.lab-member tbody td{
	height: 220px;
}
textarea{
	width:100%;
	height:80%;
	
}
	
	
	