* {
    font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
}
body {
    background-color: #FFFFFF;
}
.header {
    min-height: 100px;
}
.main_page {
    min-height: 300px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.padded {
    padding: 15px;
}
.padded-bottom {
    padding-bottom: 15px;
}
footer {
    background-color: #281f1d;
    min-height: 50px;
    color: #EEE;
    font-style: italic;
}
footer .container {
    padding: 10px;
}
div.research_page table {
    background-color: #fff;
}
.affix {
    position: fixed;
    top: 30px;
}
.affix-bottom {
    position: absolute;
}
div.professor ul.list {
    font-size: 16px;
    margin-left: 4em;
    padding-left: 0em;
}
div.professor h4.content-title:after {
    display: inline-block;
    content: "";
    height: 1.5px;
    background: #8E8E8E;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: 0px;
    margin-left: 10px;
}
div.professor h4.content-title {
    position: relative;
    overflow: hidden;
    text-align: left;
}
@media screen and (min-width: 768px) {
    .homepage-info {
        min-height: 100px;
        background-color: white;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #affix-list {
        width: 160px;
    }
    .login {
        width: 240px;
        border-radius: 30px;
    }
}
@media screen and (min-width: 992px) {
    #affix-list {
        width: 210px;
    }
    .login {
        width: 240px;
        border-radius: 30px;
    }
}
.panel-default > .panel-body {
    background-color: #FFFFFF;
}
.picture-thumb {
    max-height: 120px;
}
.list-group > .list-group-item > .title {
    font-size: 18px;
}
.list-group > .list-group-item > .subtitle {
    font-size: 15px;
}
.intro-block {
    min-height: 230px;
    background-color: #B5DEE8;
    color: #404040;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.intro-row {
    display: none;
}
.member {
    padding-bottom: 20px;
}
nav form input {
    padding-bottom: 110px;
}
.entry h3 {
    font-weight: bold;
}
#intro h4 {
    text-align: justify;
    line-height: 28px;
}
#intro h4:first-letter {
    font-size: 32px;
}
#news h4 {
    text-align: justify;
    line-height: 18px;
}
h1.content-title,
h2.content-title,
h3.content-title,
h4.content-title {
    color: #8E8E8E;
    font-weight: bold;
}
div.member_page div.member img {
    cursor: pointer;
    box-shadow: 0px 0px 2px #ccc;
}
div.member_page div.member span {
    cursor: pointer;
}
div.member_page div.member span:hover {
    font-weight: 800;
    cursor: pointer;
}
div.paper_page span#load {
    cursor: pointer;
}